body, html {
    height: 100%;
    margin: 0;
    display: grid;
    background-color:#D5E1EF ;
    place-items: center;
}

.rectangle {
    width: 285px;
    height: 497px;
    padding:20px;
    border: 1px solid #000;
    border-color: white;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.image-pad {
    margin-top: 2px;
    width: 288px;
    height: 288px;
}

h2 {
    margin-bottom: 5px;
    font-family: sans-serif;
}

p {
    padding-bottom: 10px;
}